:root {
  --background-color: rgb(27, 27, 27);
  --title-color: rgb(255, 255, 255);
  --text-color: rgb(128, 128, 128);
  --glow: linear-gradient(-45deg, #bd34fe 50%, #47caff 50%);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  color: inherit;
}

body {
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--background-color);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: float 6s ease-in-out infinite;
}

.logo__icon__bg {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  width: 192px;
  height: 192px;
  background-image: var(--glow);
  filter: blur(80px);
  transform: translate(-50%, -50%);
}

.logo__icon img {
  position: relative;
  z-index: 1;
}


.info {
  transform: translateY(-2rem);
}

.info__title {
  position: relative;
}

.info__title h1 {
  color: var(--title-color);
  font-weight: 700;
}

.info__msg small {
  display: block;
  color: var(--text-color);
  margin-bottom: 2rem;
}

.info__msg span {
  display: block;
  color: var(--text-color);
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}