<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Desk Native</title>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <div class="logo__icon">
          <img src="assets/logo.svg" alt="Desk-Native logo" />
          <div class="logo__icon__bg"></div>
        </div>
      </div>
      <div class="info">
        <div class="info__title">
          <h1>Desk-Native</h1>
        </div>
        <div class="info__msg">
          <small><a href="#" target="_blank">Read Documentation</a></small>
          <span>Edit src/client/index.html</span>
        </div>
      </div>
    </div>
  </body>
</html>