<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/style.css" />
    <title>Desk-Native</title>
  </head>
  <body>
    <div class="container">
      <div class="title">
        <h1>Desk-Native</h1>
      </div>
      <div class="os-c">
        <div class="linux">
          <img class="os-i" id="linux" src="assets/linux.png" alt="linux" />
        </div>
        <div class="mac">
          <img class="os-i" id="mac" src="assets/mac.png" alt="mac" />
        </div>
        <div class="win">
          <img id="win" class="os-i" src="assets/windows.png" alt="windows" />
        </div>
      </div>
      <div class="abt">
        <p class="abt-msg">
          An Open-Source Framework for Creating Full-Stack Native Desktop Apps for Linux, Mac
          and Windows with Web Technologies. By
          <a href="https://thesudoersclub.github.io" target="_blank"
            >The Sudoers Club</a
          >
        </p>
        <small><a href="#">Read Documentation</a></small>
      </div>
      <div class="edt-msg">
        <span id="edt-msg">Edit src/client/index.html</span>
      </div>
    </div>
  </body>
</html>
